<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="welcomeService" class="com.jjh.service.impl.WelcomeServiceImpl"/>
	<!-- 使用beanFactory -->
	<bean id="userFactoryBean" class="com.jjh.factoryBean.UserFactoryBean"/>

	<!-- 处理器 -->
	<bean id="customizedBeanDefinitionRegistryPostProcessor" class="com.jjh.postProcessor.CustomizedBeanDefinitionRegistryPostProcessor"/>
	<bean id="customizedBeanPostProcessor" class="com.jjh.postProcessor.CustomizedBeanPostProcessor"/>
	<!--Aware-->
	<bean id="testAware" class="com.jjh.aware.TestAware"/>
</beans>